
#Created by Constraints Editor (xc3s250e-cp132-4) - 2015/04/04
NET "clk_25" TNM_NET = "clk_25";
TIMESPEC TS_clk_25 = PERIOD "clk_25" 40 ns HIGH 50 %;


NET "clr" LOC = A7;
NET "di_vld" LOC = M4;
NET "din_lower[7]" LOC = N3;
NET "din_lower[6]" LOC = E2;
NET "din_lower[5]" LOC = F3;
NET "din_lower[4]" LOC = G3;
NET "din_lower[3]" LOC = B4;
NET "din_lower[2]" LOC = K3;
NET "din_lower[1]" LOC = L3;
NET "din_lower[0]" LOC = P11;

NET "swtch_led[7]" LOC = G1;
NET "swtch_led[6]" LOC = P4;
NET "swtch_led[5]" LOC = N4;
NET "swtch_led[4]" LOC = N5;
NET "swtch_led[3]" LOC = P6;
NET "swtch_led[2]" LOC = P7;
NET "swtch_led[1]" LOC = M11;
NET "swtch_led[0]" LOC = M5;

NET "clk_25" LOC = B8;
#NET "enc" LOC = C11;


#NET "dec_mode" LOC = G1;
#NET "do_rdy" LOC = M5;

NET "segment_a_i" LOC = L14;
NET "segment_b_i" LOC = H12;
NET "segment_c_i" LOC = N14;
NET "segment_d_i" LOC = N11;
NET "segment_e_i" LOC = P12;
NET "segment_g_i" LOC = M12;
NET "segment_f_i" LOC = L13;
NET "AN[3]" LOC = K14;
NET "AN[2]" LOC = M13;
NET "AN[1]" LOC = J12;
NET "AN[0]" LOC = F12;

# PlanAhead Generated IO constraints 

#NET "enc" PULLUP;
NET "clr" PULLUP;
NET "di_vld" PULLUP;
