//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 01 12:49:43 2015
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

